* {
    background-color: rgb(70, 52, 104);
    /* outline: 2px solid red; */
}

a {
    color: rgb(211, 232, 250);
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    color: rgb(168, 248, 148);
    font-size: 16.5px;
}

.topBar {
    font-family: "Lucida Console", monospace;
    color: rgb(211, 232, 250);
    outline-style: ridge;
}

h1 {
    display: inline-block;
    margin: 0px;
    vertical-align: top;
}

.logo {
    padding-left: 5px;
    padding-top: 5px;
}

.website {
    display:flex;
}

.website div {
    color: rgb(211, 232, 250);
    flex: 1 1 auto;
}

.website .navBar {
    display: inline-block;
    margin-top: 4px;
    flex: 1;
}

h2 {
    margin: 1px;
    height: auto;
}

ul {
    margin: 0px;
    padding: 10px 5px 200px 10px;
    width: 130px;
    list-style-type: none;
    outline-style: ridge;
}

p {
    margin: 0px;
    padding-right: 200px;
    padding-top: 10px;
}

.website .content {
    display: inline-block;
    margin-left: 10px;
    flex: 6;
    vertical-align: top;
}